@if(admin) {
<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      @if(admin.isSuper) {
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/admin', 'admins']"
          routerLinkActive="active"
        >
          Менеджеры
        </a>
      </li>
      }

      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/admin', 'cars']"
          routerLinkActive="active"
        >
          Бибики
        </a>
      </li>
    </ul>
  </header>
</div>
}

<router-outlet></router-outlet>
